@import url("variables/fonts.css");
@import url("variables/themes/classic.css");
@import url("variables/themes/shrek.css");
@import url("variables/colors.css");

* {
    outline: none;
}

body {
    margin: 0;
    overflow-y: visible;
    font-family: "SF Compact Display Regular", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color) !important;
}

::-webkit-scrollbar-track {
    background: var(--dark-shadow);
}