.contactContainer {
    min-height: 60vh;
    margin-top: 200px;
}

.centralForm {
    max-width: 1100px;
    padding: 12px;
    box-shadow: 0 0 20px -4px var(--background-color);
    border-radius: 16px;
    margin: 0 auto;
    background-color: var(--background-color);
}

.centralForm h2 {
    color: var(--white);
    font-family: "SF Compact Display Bold", sans-serif;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
}

.backForm {
    max-width: 380px;
    margin: 0 auto;
}

button img {
    width: 60px;
}

.backForm .imgBack {
    width: 100%;
    margin-bottom: 20px;
}

.backForm .imgBack img {
    width: 100%;
    opacity: 0.5;
}

form {
    margin-bottom: 48px;
}

.centralForm form {
    width: auto;
    display: flex;
    color: var(--black);
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    margin-top: -48px;
    opacity: 0.9;
    background-color: var(--white);
    box-shadow: 0 0 20px -2px var(--background-color);
    border-radius: 12px;
}

form p {
    text-align: center;
    margin-bottom: 10px;
    color: var(--dark-shadow);
    letter-spacing: 0.1rem;
    font-family: "SF Compact Display Bold", sans-serif;
}

form label {
    margin-bottom: 5px;
    color: var(--black);
    letter-spacing: 0.2rem;
}

form input,
textarea {
    width: 100%;
    border: 2px solid var(--dark-shadow);
    outline: none;
    background-color: #e1e1e1;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    border-radius: 10px;
    min-height: 46px;
    max-height: 240px;
}

textarea:focus {
    border: 2px solid var(--primary-color);
    background-color: var(--white);
}

form input:focus {
    border: 2px solid var(--primary-color);
    background-color: var(--white);
}

button {
    width: 100%;
}

form button {
    margin-top: 15px;
    padding: 5px;
    outline: none;
    color: var(--white);
    border: 2px solid var(--background-color);
    border-radius: 19px;
    background-color: var(--background-color);
    font-size: 18px;
    width: 160px;
    align-items: center;
    justify-content: center;
}

form button:hover {
    background-color: var(--background-color);
    transition: all ease 1s;
    border: 2px solid var(--primary-color);
}

.col i {
    padding: 7px;
    color: var(--white);
}

.col i:hover {
    transform: scale(1.5);
}

.loading {
    padding: 4px;
    animation: rotate-spinner 1500ms linear infinite;
}

.errorMsg {
    color: var(--primary-color);
    margin-bottom: 12px;
}

@keyframes rotate-spinner {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (width >= 940px) {
    .backForm {
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        margin: 30px auto 0;
    }

    .imgBack {
        flex: 1;
        align-self: center;
        margin-right: 20px;
    }

    form {
        flex: 0.9;
    }
}

@media screen and (width <= 414px) {
    .centralForm h2 {
        font-size: 16px;
    }
}
